@mixin btnColors() {
	@each $color, $value in $theme-colors {
		.btn-#{$color} {
			background-color: $value;
			color: color-yiq($value);
			position:relative;
			transition: opacity $transition-base-duration $transition-base-tf;
			&:hover {
				color: color-yiq($value);
				opacity: 0.8;
			}
		}
	}
}

