@mixin absVerticalAlign() {
	top:50%;
	transform: translateY(-50%);
}

@mixin absHorizontalAlign() {
	left:50%;
	transform: translateX(-50%);
}

@mixin absCenter() {
	position:absolute;
	left:50%;
	top:50%;
	transform: translateX(-50%) translateY(-50%);
}