//wraps
@keyframes switchView {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes barScalingDown {
  to {
    transform: scale(1,0.1) translateZ(0);
  }
}

@keyframes barScaling {
  0% {
    transform: scale(1,0.1) translateZ(0);
  }
  50% {
    transform: scale(1,0.5) translateZ(0);
  }
  100% {
    transform: scale(1,1) translateZ(0);
  }
}

@keyframes barScaling2 {
  0% {
    transform: scale(1,0.1) translateZ(0);
  }
  30% {
    transform: scale(1,0.4) translateZ(0);
  }
  60% {
    transform: scale(1,1.2) translateZ(0);
  }
  100% {
    transform: scale(1,1) translateZ(0);
  }
}




@keyframes button-choice {
  0% {
    background-color: theme-color('dark-grey');
  }
  100% {
    background-color: theme-color('petroil');
  }
}

//nav / blob

@keyframes mini-blob-floating{
  0% {
    transform: translateX(-100px) translateY(-100px) translateZ(0) scale(0,0) rotate(45deg);
  }
  50% {
    transform: translateX(100px) translateY(100px) translateZ(0) scale(1,1) rotate(45deg);
  }
  100% {
    transform: translateX(300px) translateY(300px) translateZ(0) scale(0,0) rotate(45deg);
  }
}

@keyframes mini-blob-floating-neg{
  0% {
    transform: translateX(-100px) translateY(-100px) translateZ(0) scale(0,0) rotate(45deg);
  }
  50% {
    transform: translateX(100px) translateY(100px) translateZ(0) scale(1,1) rotate(45deg);
  }
  100% {
    transform: translateX(300px) translateY(300px) translateZ(0) scale(0,0) rotate(45deg);
  }
}



@keyframes blobs-collapsed{
  0% {
    transform: translateX(0) translateY(0) translateZ(0) scale(1);
  }
  80%,100%{
    transform: translateX(0) translateY(0) translateZ(0) scale(0);
  }
}


@keyframes blobs-expanded{
  0% {
    transform: translateX(0) translateY(0) translateZ(0) scale(0);
  }
  60%,100%{
    transform: translateX(0) translateY(0) translateZ(0) scale(1);
  }
}


@keyframes blob-top-expanded {
  to{
    transform: translateX(0) translateY(0) translateZ(0) scale(1.5);
  }
}

@keyframes blob-top-reset-pos {
  to {
     transform: translateX(0) translateY(0) translateZ(0) scale(0.5);
  }
}

@keyframes blob-top-floating {
 to {
    transform: translateX(-50%) translateY(-25%) translateZ(0) scale(1);
  }
}


@keyframes blob-center-expanded {
  to {
    transform: translateX(0) translateY(0) translateZ(0) scale(1.1);
  }
}

@keyframes blob-center-reset-pos {
  to {
    transform: translateX(0) translateY(0) translateZ(0) scale(0.5);
  }
}

@keyframes blob-center-floating {
  to {
    transform: translateX(20%) translateY(12%) translateZ(0) scale(0.8);
  }
}

@keyframes blob-bottom-expanded {
 to {
    transform: translateX(0) translateY(0) translateZ(0) scale(3);
  }
}

@keyframes blob-bottom-reset-pos {
  to {
    transform: translateX(0) translateY(0) translateZ(0) scale(0.5);
  }
}

@keyframes blob-bottom-floating {
  to {
    transform: translateX(-50%) translateY(50%) translateZ(0) scale(2.8);
  }
}

@keyframes blob-top-expanded {
  0% {
    transform: translateX(0) translateY(0) scale(0.5) translateZ(0);
  }
  40% {
    transform: translateX(0) translateY(0) scale(0.5) translateZ(0);
  }
  100% {
    transform: translateX(-15%) translateY(-35%) scale(1) translateZ(0);
  }
}

@keyframes blob-top-reset-pos {
 0% {
    transform: translateX(-15%) translateY(-35%) scale(1) translateZ(0);
  }
  40% {
    transform: translateX(0) translateY(0) scale(0.5) translateZ(0);
  }
  100% {
     transform: translateX(0) translateY(0) scale(0.5) translateZ(0);
  }
}

@keyframes blob-center-expanded {
  0% {
    transform: translateX(0) translateY(0) scale(0.5) translateZ(0);
  }
  40% {
    transform: translateX(0) translateY(0) scale(0.5) translateZ(0);
  }
  100% {
    transform: translateX(55%) translateY(-15%) scale(1) translateZ(0);
  }
}

@keyframes blob-center-reset-pos {
  0% {
     transform: translateX(55%) translateY(-15%) scale(1) translateZ(0);
  }
  40% {
    transform: translateX(0) translateY(0) scale(0.5) translateZ(0);
  }
  100% {
    transform: translateX(0) translateY(0) scale(0.5) translateZ(0);
  }
}

@keyframes blob-bottom-expanded {
  0% {
    transform: translateX(0) translateY(0) scale(0.5) translateZ(0);
  }
  40% {
    transform: translateX(0) translateY(0) scale(0.5) translateZ(0);
  }
  100% {
    transform: translateX(-10%) translateY(200%) scale(3) translateZ(0);
  }
}

@keyframes blob-bottom-reset-pos {
  0% {
    transform: translateX(-10%) translateY(200%) scale(3) translateZ(0);
  }
  40% {
    transform: translateX(0) translateY(0) scale(0.5) translateZ(0);
  }
  100% {
    transform: translateX(0) translateY(0) scale(0.5) translateZ(0);
  }
}

//scroller
@keyframes init-scroll {
  0% {
    transform-origin:center bottom;
    transform: scale(1,1);
  }
  40%,50% {
    transform-origin:center bottom;
    transform: scale(1,0);
  }
  51%{
    transform-origin:center top;
    transform: scale(1,0);
  }
  100% {
    transform-origin:center top;
    transform: scale(1,1);
  }
}

//switcher
@keyframes open-switcher-theme {
  
  0% {
    transform: scale(0.01,0) translateZ(0);
  }
  20%,30% {
    transform:scale(0.01,1) translateZ(0);
  }
  100% {
    transform:scale(1,1) translateZ(0);
  }
  
}

@keyframes close-switcher-theme {
  
  from {
    transform:scale(1,1) translateZ(0);
  }
  to {
    transform:scale(0,1) translateZ(0);
  }
}