/* BADGE */
.badge-message {
  font-family: $font-family-serif;
  position:fixed;
  font-weight: 400;
  bottom:5px;
  left:5px;
  right: 5px;
  padding:1px 12px 1px 12px;
  background-color: theme-color('dark-grey');
  color:white;
  letter-spacing: 1px;
  z-index:8;
  font-size:1rem;
  border-radius:3px;
  transform: scale(0.9) translateY(30px) translateZ(0);
  opacity: 0;
  overflow:visible;

  div {
    filter:url('#fancy-goo-efx');
    background-color: theme-color('dark-grey');
    width:0;
    height: 1px;
    top:0;
    overflow:visible;
    padding:0;
    line-height: 60px;
    position:relative;
    span {
      color:white;
      position:absolute;
      height: 60px;
      top:0;
      left:15px;
      right: 15px;
      opacity:0;
      transition:transform $transition-base-duration, opacity $transition-base-duration, color $transition-base-duration;
      z-index:2;
      transform: translateY(100%) translateZ(0);
      strong {
        position:absolute;
        top:0;
        left:0;
        z-index: 2;
        &.multiline {
          padding-top:4px;
          line-height: 26px;
        }
        &[data-value] {
          display: none;
          &.selected {
            display: block;
          }
        }
      }
     
      button {
        background-color: theme-color('petroil');
        position:fixed;
        top:0px;
        width: calc(50% + 15px);
        border:none;
        height: 50px;
        line-height: 50px;
        font-family: $font-family-sans-serif;
        transition:opacity $transition-base-duration 100ms, background-color $transition-base-duration, transform 500ms $transition-smooth-tf;
        transform: scale(0.4) translateZ(0);
        transition-delay: $transition-base-duration * 2;
        z-index:1;
        opacity:0;
        outline: 0;
        &:nth-of-type(1){
          left:-30px;
        }
        &:nth-of-type(2){
          right:-30px;
        }
        &.hide {
          transition-delay: 0ms !important;
          transition-duration: $transition-base-duration / 2 !important;
          transform: scale(0) translateZ(0);
          opacity:0;
        }
        &.selected {
          transition-delay: 0ms !important;
          transition-duration: $transition-base-duration / 2 !important;
          transform: scale(1.5) translateZ(0);
          background-color:theme-color('light-petroil');
        }

      }
      &.active {
        opacity:1;
        transition-delay: $transition-base-duration / 2;
        transform: translateY(0%) translateZ(0);
        button {
          transform: scale(1) translateY(-70px) translateZ(0);
          color:theme-color('white');
          font-size:1rem;
          letter-spacing: 1px;
          opacity:1;
        }
      }
      &.done {
        position:fixed;
        left:15px;
        color: theme-color('dark-grey');
        opacity:0;
        transition-delay: 0ms;
        transition-duration: $transition-smooth-duration;
        transition-timing-function: cubic-bezier(0.680, 0, 0.265, 1);
        transform-origin: left bottom;
        transform: translateY(-250%) scale(0) translateZ(0);
      }
    }
  }
  &.open {
    transition-delay: $transition-smooth-duration;
    transition: opacity $transition-base-duration, transform $transition-base-duration $transition-smooth-tf;
    div {
      position:relative;
      height: 1px;
      transition: height $transition-base-duration $transition-smooth-tf;
      transition-delay: $transition-smooth-duration * 2;
    }
  }
  &.close {
    transition-delay: $transition-smooth-duration - $transition-base-duration;
    transition: opacity $transition-base-duration, transform $transition-base-duration $transition-smooth-tf;
    div {
      height: 45px;
      transition: height $transition-base-duration $transition-smooth-tf;
      transition-delay: 0;
    }
  }
}

.init{
  .badge-message.open {
    transform:scale(1) translateY(0) translateZ(0);
    opacity: 1;
    transition-delay: $transition-base-duration * 3;
    div {
      width:100%;
      height: 60px;
    }
  }
  .badge-message.close {
    transform:scale(0.9) translateY(0) translateZ(0);
    opacity: 0;
    transition-delay: $transition-base-duration;
    div {
      width:100%;
      height: 1px;
    }
  }
}

@include media-breakpoint-up(md) {
  .badge-message {
    left:50%;
    transform: translateX(-50%);
    max-width: 758px;
  }

  .init{
    .badge-message.open {
        transform: translateX(-50%) scale(1) translateY(0) translateZ(0);
    }
  }

  .init{
    .badge-message.open {
        transform: translateX(-50%) scale(0.9) translateY(0) translateZ(0);
    }
  }
}
