/* BUTTONS/CTA */
.btn {
  color:theme-color('dark-grey');
  font-size: 0.75rem;
  font-family: $font-family-display;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  display: inline-block;
  padding: 16px 30px 13px 30px;
  letter-spacing: 1px;
  border-radius:23px;
  &.btn-small {
    font-size:0.565rem;
    padding: 8px 15px 5px 15px;
  }
  &.btn-outline {
    background-color:transparent;
    border:2px solid theme-color('petroil');
    color: theme-color('petroil');
    &:hover {
      color:theme-color('petroil');
    };
  }
  &.btn-action {
    position: fixed;
    height: 48px;
    width: 48px;
    bottom:15px;
    opacity:0;
    padding:0;
    top:auto;
    left:auto;
    right: 15px;
    color: theme-color('white');
    background-color: theme-color('petroil-accent');
    transform:translateY(150%);
    z-index:$zindex-fixed;
    overflow: hidden;
    transition: opacity $transition-smooth-duration $transition-base-tf, 
                transform $transition-smooth-duration $transition-base-tf;
    @extend .shadow-1;
    svg {
      position: absolute;;
      width: 50%;
      height: 50%;
      top:25%;
      left:25%;
      path {
        fill: theme-color('white');
      }
    }
    &.show {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &.btn-back {
    color: theme-color('petroil');
    position:relative;
    padding-left:65px;
    font-style: normal;
    &::after {
        content: "";
        display: block;
        width: 100px;
        height: 2px;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        left: 15px;
        background-color: theme-color('petroil');
        transition: transform $transition-smooth-tf $transition-base-duration,
                    background-color $transition-smooth-tf $transition-base-duration

    }
    &:hover {
      &::after {
        transform: translateX(-15px);
        background-color: theme-color('light-petroil');
      }
    }
  }
}



@include btnColors();