.card-project {
  position:relative;
  margin-bottom: 30px;
  overflow: hidden;
  @extend .shadow-1;
  &::after {
    content: "";
    width: 100%;
    display: block;
    position:relative;
    padding-bottom: 110.4%
  }
  h2, h3 {
    text-align: center;
    position:absolute;
    width: 100%;
    height: 100%;
    font-family: 'DM Serif Display', serif;
    color:theme-color('white');
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
    z-index:2;
    margin:0;
    a, img {
      position:absolute;
      width: 100%;
      height: 100%;
      top:0;
      left:0;
    }
    a {
      z-index:2;
      color: theme-color('white');
    }
    img {
      z-index:1;
    }
    span {
      width: 90%;
      z-index:2;
      @include absCenter();
      &.invert {
        color: theme-color('black');
        text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
      }
    }
  }
}