//DARK THEME quick'n'dirty
.dark-mode {
  background-color: theme-color('dark-grey');
  color:theme-color('white');
  
  main {
    &:before {
      background:theme-color('black');
    }
  }

  /* BUTTONS/CTA */
  .btn {
    color:theme-color('white');
    .btn_action {
      color:theme-color('white');
      background-color:theme-color('dark-grey');
    }
    &.btn-outline {
      border-color: theme-color('white');
      color: theme-color('white');
      &:hover {
        color:theme-color('white');
      };
    }
    &.btn-back {
      &::after {
         background-color: theme-color('white');
      }
      &:hover {
        &::after {
          background-color: theme-color('lighter-grey');
        }
      }
    }
  }

  /* NAV */
  .float-nav{
    mix-blend-mode: unset;
    &::after {
      background-color: theme-color('black');
    };
  }

  /* LOGO */
  .logo {
    background-color:theme-color('dark-grey');
    color:theme-color('white');
    .bg-logo {
      fill: theme-color('black');
    }
    .logo-r {
      fill: theme-color('white');
    }
  }

  /* BADGE */
  .badge-message {
    background-color: theme-color('black');
    div {
      background-color: theme-color('black');
      span {
        button {
          background-color: theme-color('mid-grey');
          &.selected {
            background-color:theme-color('light-grey');
          }

        }
        &.active {
          button {
            color:theme-color('white');
          }
        }
        &.done {
          color: theme-color('black');
        }
      }
    }
  }

  /* PROJECTS */
  .highlight {
    h3 {
      &::after {
        background-color: theme-color('white');
      }
    }
  }
  section.explain {
    a {
      color: theme-color('white');
      &:hover {
        color: theme-color('white');
      }
    }
  }


  /* TYPE */
  blockquote {
    color: theme-color('white');
    opacity: 0.7;
  }
  p {
    small {
      &.side-note {
        color: theme-color('white');
        opacity: 0.4;
        &.evidence {
          background: theme-color('black');
        }
      }
    }
  }

  /* IMAGE */
  figcaption {
    color: theme-color('white');
    opacity:0.4;
  }


  .audio-controls {
    .headphone {
      stroke:theme-color('lighter-grey');
    }
    .bar-sound {
      fill:theme-color('lighter-grey');
    }
  }

  #theme-switcher {
    &::after {
      top:0;
      left:auto;
      right: 0;
      background-color: theme-color('white');
    }
    &.open {
      &::after {
        transform-origin: right;
      }
    }
    &.close {
      &::after {
        transform-origin: right;
        left:auto;
        right: 0;
      }
    }
  }

  #theme-control {
    .switch-outline {
      stroke: theme-color('lighter-grey');
      &.switch-outline-top {
        stroke-dasharray:40;
        stroke-dashoffset:0;
      }
      &.switch-outline-bottom {
        stroke-dasharray:45;
        stroke-dashoffset:0;
      }
    }
    .dot-switcher {
      stroke: none;
      fill: theme-color('lighter-grey');
      transform: translateX(14px) translateZ(0);
      &.switching {
        stroke: theme-color('lighter-grey');
        fill: none;
        transform: translateX(0) translateZ(0);
      }
    }
  }


  /* NAV */
  .blob-nav {
    .toggle-nav {
      svg {
        circle {
          stroke: theme-color('lighter-grey');
        }
        line {
          stroke: theme-color('white');
          &:nth-of-type(3) {
            stroke:theme-color('lighter-grey');
          }
          &:nth-of-type(4) {
            stroke:theme-color('lighter-grey');
          }
        }
      }
      //multi classes
      &.active {
         svg {
          circle {
             &:nth-of-type(3) {
              fill:theme-color('mid-grey');
            }
          }
        }
      }
    }

    #nav-list {
      ul{
        li {
          a {
            color:theme-color('white');
          }
        }
      }
    }
  }


  /*** BLOBS ***/
  .blobs{
    .blob{
      background:theme-color('dark-grey');
      color:theme-color('white');
    }
    .mini-blob {
      $sing: 1;
      $miniBlob: 25;
      @for $i from 1 through $miniBlob {
        &:nth-child(#{$i}) {
          @if ($sing == 1) {
              $sing : -1;
              background:theme-color('white');
          } @else {
              $sing : 1;
              background: theme-color('mid-grey');
          }
        }
      }
    }
  }

  .init-scroll {
    color:theme-color('lighter-grey');
    &::after {
      background: theme-color('light-grey');
    }
  }

  // PRIZES
  .prize-item {
    strong {
      &.prize-site {
        color:theme-color('light-petroil');
      }
    }
    &::after {
      background-color: theme-color('mid-grey');
    }
  }


}
