
.exp {
  ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.exp-item {
  font-family: $font-family-serif;
  margin:0;
  padding:0 0 0 0;
  position: relative;
  line-height: 1.2;
  flex: 0 1 auto;
  margin-bottom: 30px;
  width: 100%;
  a {
    display: block;
    color:theme-color('white');
    padding:2rem;
    background-color: theme-color('bright-grey');
    transition: box-shadow $transition-base-duration;//, background-color $transition-base-duration;
    span, strong, small {
      display: block;
    }
    span, small {
      font-family: $font-family-display;
    }
    span {
      font-size:1rem;
      line-height: 1.2;
      margin:8px 0 0 0;
      &.exp-desc {
        color: theme-color('dark-grey');
      }
    }
    strong {
      &.exp-title {
        font-size: 1.75rem;
        color: theme-color('black');
        text-shadow: 1px 1px 0px white;
      }
    }
    small {
      font-size:0.875rem;
      margin:4px 0 0 0;
    }
  }
}



@include media-breakpoint-up(md) {
	
}

@include media-breakpoint-up(lg) {
 .exp-item {
      width: calc(50% - 10px);
      a:hover {
        //background-color:white;
        box-shadow: 0 14px 28px rgba(0,0,0,0.20), 0 10px 10px rgba(0,0,0,0.25);
      };
  }
}


@include media-breakpoint-up(xl) {
	
}
