.lazyload, .lazyloading {
	opacity: 0 !important;
	transition: opacity $transition-base-duration;
}
.lazyloaded {
	opacity: 1 !important;
	transition: opacity $transition-base-duration;
}
.img-fluid {
	max-width: 100%;
	height: auto;
	display: block;
	margin:0 auto;
}

.spaced {
	margin-top: 0.85rem;
}

figcaption {
	font-size:13px;
	color: theme-color('lighter-grey');
	font-weight: 600;
    opacity: 0.5;
    letter-spacing: 1px;
    max-width: 50%;
    padding-top:8px;
    padding-bottom: 16px;
}

a {
	figcaption {
		text-decoration: underline;
	}
	&:hover {
		figcaption {
			text-decoration: none;
		}
	}
}