.intro {
  padding: 50px 0 0 0px;
  height: calc(100vh - 0px);
  h1,h2 {
    opacity: 0;
    transform: translateY(50px) translateZ(0);
    transition: opacity  $transition-smooth-duration, transform $transition-smooth-duration cubic-bezier(0.075, 0.820, 0.165, 1.000); 
    span {
      display: block;
    }
  }
  h1 {
    transition-delay: $transition-base-duration / 2;
  }
   h2 {
    transition-delay: $transition-smooth-duration - $transition-base-duration;
  }
}


.init {
  .intro {
    h1, h2 {
      opacity: 1;
      transform: translateY(0) translateZ(0);
    }
    h2 {
      opacity: 0.7;
    }
  }
}



@include media-breakpoint-up(md) {
  .intro {
    height: auto;
    padding-bottom:30px;
  }
}



@include media-breakpoint-up(lg) {
  .intro {
    height: calc(100vh - 80px);
    min-height: 720px;
    max-height: 920px;
  }
}

// to_refactor
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .intro {
     height: auto;
     min-height:auto;
  }
}

@media only screen 
  and (min-width: 1024px) 
  and (max-height: 768px)  
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .init-scroll {
    height: calc(100vh -100px);
   }
}
//

@include media-breakpoint-up(xl) {
  
}

@include media-breakpoint-up(xxl) {
  
}
