/* LOGO */
.logo {
  pointer-events: all;
  font-family: 'DM Serif Display', serif;
  font-size:36px;
  text-align: center;
  background-color:theme-color('dark-grey');
  color:theme-color('white');
  line-height: 46px;
  position: fixed;
  left: 15px;
  top:15px;
  width: 52px;
  height: 50px;
  border-radius: 50%;
  z-index:$zindex-fixed;
  transform:scale(0) translateZ(0);
  transition: transform $transition-base-duration $transition-smooth-tf;
  .bg-logo {
    fill: theme-color('petroil');
  }
  .logo-r {
    fill: theme-color('white');
  }

}

.init {
  .logo {
    transform: scale(1) translateZ(0);
  }
}