.modal {
    background-color:theme-color('white');
    position:fixed;
    top:0;
    left:0;
    height: 100vh;
    width: 100%;
    opacity:1;
    transition: opacity $transition-base-duration;
    z-index:$zindex-modal;
}
.dark-mode .modal {
    background-color: theme-color('dark-grey');
}