
.init {
  .blob-nav {
    .toggle-nav {
      svg {
        circle {
          opacity: 1;
          &:nth-of-type(1) {
            stroke-dasharray:90;
            stroke-dashoffset: -25
          }
          &:nth-of-type(2) {
            stroke-dasharray:40;
            stroke-dashoffset: 95;
          }
          &:nth-of-type(3) {
            //fill: theme-color('white');
            stroke-dasharray:25;
            stroke-dashoffset: 44;
          }
        }
      }
    }
  }
}

.float-nav {
  pointer-events: none;
  background-color: transparent;
  position:fixed;
  width: 100%;
  left:0;
  top:0;
  height: 80px;
  z-index:$zindex-fixed;
  transition: transform $transition-base-duration;
  mix-blend-mode: hard-light;
  &::after {
    content: "";
    width: 200px;
    height: 70px;
    border-radius: 35px;
    position:fixed;
    right: 6px;
    top:5px;
    background-color: theme-color('white');
    box-shadow: 0;
    transition: box-shadow $transition-base-duration;
  }
  &.hide {
      transform: translateY(-110%) translateZ(0);
  }
  &.shadow-nav {
    &::after {
      box-shadow: 0 1px 3px rgba(0,0,0,0.10), 0 1px 2px rgba(0,0,0,0.20);
    }
  }
}

.nav-open {
  .float-nav {
    mix-blend-mode: unset;
    #theme-control, .audio-controls {
      &.show {
        opacity: 0;
        transform: translateZ(0) scale(0.7);
      }
    }
  }
}

/* NAV */
.blob-nav {
  $base_delay : 50ms;
  position:fixed;
  pointer-events: all;
  top:0;
  right: 0;
  width: 66px;
  height:66px;
  overflow:hidden;
  transition-property: height, width;
  transition-delay: $base_delay * 3;
  transition-timing-function:$transition-blob-nav;
  transition-duration: $transition-base-duration * 2;
  z-index:9999;
  font-family: $font-family-display;
  /* toggler */
  .toggle-nav {
    position:relative;
    top:16px;
    left:0;
    width: 50px;
    height: 50px;
    z-index:20;
    background:transparent;
    border-radius:50%;
    border: none;
    padding:0;
    margin:0;
    cursor: pointer;
    transform: rotate(90deg) translateZ(0);
    
    svg {
      circle {
        transition-property: fill, stroke-dasharray, stroke-dashoffset, transform;
        transition-duration: $transition-smooth-duration / 2;
        transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
        transform-origin: 25px 25px;
        transition-delay: 0;
        fill: none;
        stroke: theme-color('petroil');
        stroke-width: 2px;
        transform: translateX(0) translateY(0) translateZ(0) scale(1) rotate(0deg);
        position:relative;
        z-index:2;

        &:nth-of-type(1) {
          stroke-dasharray:90;
          stroke-dashoffset: -90;
          transition-duration: $transition-smooth-duration
        }
        &:nth-of-type(2) {
          stroke-dasharray:40;
          stroke-dashoffset: -40;
        }
        &:nth-of-type(3) {
          //fill: theme-color('white');
          stroke-dasharray:25;
          stroke-dashoffset: -25;
        }
      }
      line {
        transition-property: stroke-dasharray, stroke-dashoffset, transform;
        transition-duration: $transition-smooth-duration / 2;
        transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
        transform-origin: 25px 25px;
        transition-delay: 0;
        position:relative;
        z-index:1;
        stroke: theme-color('white');
        stroke-width: 2px;
        transform: translateX(0) translateY(0) translateZ(0) scale(1) rotate(0deg);
        stroke-dasharray:84;
        stroke-dashoffset: 97;
        &:nth-of-type(3) {
          stroke:theme-color('petroil');//black;
          transform: translateX(1px) translateY(-1px) translateZ(0) scale(0.5) rotate(0deg);
        }
        &:nth-of-type(4) {
          stroke:theme-color('petroil');//black;
          transform: translateX(-1px) translateY(-1px) translateZ(0) scale(0.5) rotate(0deg);
        }
      }
    }
    //states
    &.active {
      svg {
        circle {
          //stroke-dashoffset: 0;
          &:nth-of-type(1) {
            //stroke-dasharray: -90;
            transform: translateX(0) translateY(0) translateZ(0) scale(0.2) rotate(145deg);
          }
          &:nth-of-type(2) {
            //stroke-dasharray:40;
            transform:  translateX(0) translateY(0) translateZ(0) scale(0.3) rotate(45deg);
          }
          &:nth-of-type(3) {
            fill: theme-color('white');
            //stroke-dasharray:25;
            transform:  translateX(0) translateY(0) translateZ(0) scale(0.5) rotate(45deg);
          }
          
        }
      }
      line {
        stroke-dasharray:40;
        stroke-dashoffset: 24;
        transform: translateX(0) translateY(0) translateZ(0) scale(0.5) rotate(0deg);
      }
    }
    &:focus {
      outline:0;
    }
    //multi classes
    &.active {
       svg {
        circle {
           &:nth-of-type(3) {
            stroke-dasharray:32;
            stroke-dashoffset: 0;
            transform: scale(0.8)  translateZ(0);
            fill:theme-color('white');
          }
        }
      }
    }
  }

  #nav-list {
    filter:url('#goo-efx');
    position:fixed;
    width: 100vw;
    height: 100vh;
    z-index:10;
    top:0;
    left:0;
    //mix-blend-mode: exclusion;
    visibility: hidden;
    ul{
      position:absolute;
      top:50%;
      left:50%;
      transform: translateX(-50%) translateY(-50%) translateZ(0);
      perspective: 800px;
      li {
        opacity: 0;
        transition: opacity ($transition-smooth-duration / 2), transform ($transition-smooth-duration / 2);
        transition-timing-function: $transition-blob-nav;
        text-align: center;
        display: block;
        //will-change: opacity, transform;// add when base project are done
        margin:32px 0;
        &:nth-child(1) {
          transition-delay: 0ms;
          transform: translateX(-50px) translateY(-50px) scale(0.5,0.5) rotateX(90deg) rotateY(45deg) translateZ(0);
         }
         &:nth-child(2) {
          transition-delay: 0ms;
           transform: translateX(50px) translateY(50px) scale(0.5,0.5) rotateX(-90deg) rotateY(45deg) translateZ(0);
         }
         &:nth-child(3) {
          transition-delay: 0ms;
          transform: translateX(-50px) translateY(50px) scale(0.5,0.5) rotateX(90deg) rotateY(-45deg) translateZ(0);
         }
         &:nth-child(4) {
          transition-delay: 0ms;
          transform: translateX(-50px) translateY(50px) scale(0.5,0.5) rotateX(90deg) rotateY(-45deg) translateZ(0);
         }
        a {
          font-weight: 200;
          font-size:2.5rem;
          line-height: 100%;
          color:theme-color('white');
          letter-spacing: 2px;
          text-shadow: 2px -2px 0px rgba(0, 0, 0, 1);
          text-transform: uppercase;
          abbr {
            text-decoration: none;
          }
          &.c-m {
            font-size:1.5rem;
            text-transform: none;
            letter-spacing: 1px;
          }
        }
      }
    }
  }

  &.expanded {

    #nav-list {
      
      ul {
        li {
          opacity: 1;
          transform: translateX(0) translateY(0) scale(1,1) rotateX(0) rotateY(0) translateZ(0);
        
          &:nth-child(1) {
            transition-delay: $base_delay;
          }
          &:nth-child(2) {
            transition-delay: $base_delay * 3; 
          }
          &:nth-child(3) {
            transition-delay: $base_delay * 5;
          }
          &:nth-child(4) {
            transition-delay: $base_delay * 7;
          }
        }
      }
    }

  }
}


/*** BLOBS ***/
.blobs{
  filter:url('#goo-efx');
  position:fixed;
  top:41px;
  left:0;
  animation-duration: $transition-base-duration;
  animation-fill-mode: forwards;
  animation-timing-function: $transition-blob-nav;
  animation-name:blobs-collapsed;
  width: calc(100% - 50px);
  height: calc(100vh - 50px);
  transform-origin: right 0;
  z-index:9998;
  .blob{
    position:absolute;
    background:theme-color('dark-grey');
    top:0;
    left:0;
    line-height:100%;
    text-align:center;
    color:theme-color('white');
    height:0;
    font-size:40px;
    border-radius:100%;
    z-index:2;
    &:nth-child(1){
      top:-10%;
      left:-10%;
      width:50vh;
      padding-top:50vh;
      animation: none;  
    }
    &:nth-child(2){
      top:10%;
      left:10%;
      width:70vh;
      padding-top:70vh;
      animation: none;
      
    }
    &:nth-child(3){
      top:45%;
      left:-10%;
      width:30vh;
      padding-top:30vh;
      animation:none;
    }
    span {
      position:absolute;
      left:50%;
      top:50%;
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0);
    }
  }


  .mini-blob {
    position:absolute;
    transform: rotate(45deg);
    z-index:4;
    $miniBlob: 15;//25; //to_test('mobile')
    @for $i from 1 through $miniBlob {
      &:nth-child(#{$i}) {
        $r: 30 - random(15);
        left: randomNum(-60, 60) + 50%;
        top: randomNum(-60, 60) + 50%;
        width: $r*2 + px;
        height: $r/2 + px;
        border-radius:$r/4 + px;
        animation-duration: randomNum(5, 10) * 500ms;
        animation-delay: $i * 100ms;
      }
    }

    &:nth-child(even) {
       background: theme-color('mid-grey');
    }
    &:nth-child(odd) {
       background: theme-color('bright-grey');
    }
  }
}



.nav-open  {
 
  main {
    &:before {
      visibility: visible;
      opacity:1;
    }
  }

  .blob-nav{
    mix-blend-mode: normal;
  }
  
  #nav-list {
    visibility: visible;
  }
  .blobs {
    animation-name:blobs-expanded;
  }
}

.full-overflow {
  .blob {
    animation-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
    &:nth-child(1){
      animation:blob-top-floating 25s infinite alternate;
    }
    &:nth-child(2){
      animation:blob-center-floating 18s infinite alternate;
    }
    &:nth-child(3){
      animation:blob-bottom-floating 2$transition-smooth-duration infinite alternate;
    }
  }
  .mini-blob {
      transform-origin: center center;
      animation-timing-function: cubic-bezier(0.680, 0.265, 0.265, 1.550); 
      animation: mini-blob-floating infinite alternate;
      transform: translateX(-100px) translateY(-100px) translateZ(0) scale(0,0) rotate(45deg);
  }
}


@include media-breakpoint-up(md){
  .blobs{
    .blob {
      &:nth-child(1){
        width:50vw;
        padding-top:50vw;
      }
      &:nth-child(2){
        width:70vw;
        padding-top:70vw;
      }
      &:nth-child(3){
        width:30vw;
        padding-top:30vw;
      }
    }
  }

  .nav-open {
    .blob {
      animation-duration:$transition-base-duration;
    }
    
  }

  

}




@include media-breakpoint-up(md){
  .blobs{
    .blob {
      &:nth-child(1){
        width:50vw;
        padding-top:50vw;
      }
      &:nth-child(2){
        width:70vw;
        padding-top:70vw;
      }
      &:nth-child(3){
        width:30vw;
        padding-top:30vw;
      }
    }
  }

  .nav-open {
    .blob {
      animation-duration:$transition-base-duration;
    }
    
  }
}
