.prize-item {
  font-family: $font-family-serif;
  margin:1rem 0 1rem 0;
  padding:0 0 2rem 0;
  position: relative;
  line-height: 1.2;
  span, strong, small {
    display: block;
  }
  span, small {
    font-family: $font-family-display;
  }
  span {
    font-size:1.3rem;
    line-height: 1;
    margin:4px 0 0 0;
  }
  strong {
    font-size:2rem;
    &.prize-name {
      font-size: 2.5rem;
    }
    &.prize-site {
      color:theme-color('petroil');
    }
  }
  small {
    font-size:0.875rem;
    margin:4px 0 0 0;
  }
  &::after {
    position:absolute;
    display: block;
    content: '';
    height: 3px;
    width: 3rem;
    background-color: theme-color('bright-petroil');
    left:0;
    bottom:0;
  }
  &:last-child {
    &::after {
      display: none;
    };
  }
}



@include media-breakpoint-up(md) {
	
}

@include media-breakpoint-up(lg) {
 
}


@include media-breakpoint-up(xl) {
	
}
