.project-detail {
  position:relative;
  padding-top: 50px;
  h2 {
    margin:0 0 1rem 0;
    font-size: 1.5rem;
    font-weight: 300;
  }
  h5 {
    font-size:1rem;
    margin:0 0 1rem 0;
  }
  .btn-visit {
    margin-bottom: 30px;
  }
}

.summary {
  position:fixed;
  bottom:0;
  width: 100%;
  left:0;
  background-color:theme-color('white');
  padding:8px 15px;
  z-index:2;
  @extend .shadow_b-1;
  h4,h5 {
    display: inline-block;
    margin-bottom:0 !important;
    margin-top:0;
    margin-top:8px;
  }
  h4 {
    font-size:1.25rem;
  }
  h5 {
    font-size:1rem;
  }
  h6 {
    font-size:13px;
    letter-spacing: 0.5px;
    margin-bottom:0;
    opacity: 0.4;
  }
  .btn {
    position: absolute;
    right: 15px;
    top:50%;
    transform: translateY(-50%);
  }
  .chip {
    margin:0 4px;
  }
}

.highlight {
  margin-top:3rem;
  margin-bottom:3rem;
  //opacity:0.87;
  //padding-left:1rem;
  h3 {
    position: relative;
    &::after {
      content: "";
      display: block;
      width: calc(15% );
      height: 4px;
      overflow: hidden;
      position:absolute;
      top:1.375rem;
      left:-15px;
      background-color: theme-color('dark-grey');
      transform: translateX(-100%);
    }
  }
}

section.explain {
  a:not(.btn) {
    color: theme-color('dark-grey');
    position:relative;
    text-decoration: underline;
    &:hover {
      color: theme-color('dark-grey');
      text-decoration: none;
    }
  }
  /*
  a {
    &::after {
      position:absolute;
      content: '';
      bottom:0;
      width: 100%;
      left:0;
      height: 0px;
      border-bottom:1px solid theme-color('dark-grey');
    };
  }
  */
}

@include media-breakpoint-up(md) {
  section.explain {
    width: 70%;
    margin-left:15%;
  }

  .card-project {
    width:calc(50% - 15px);
    margin-bottom: 30px;
  }
 .featured-projects, .other-projects {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  position:relative;
  right: 0;
  top:0;
 }

 .highlight {
  margin-top:3rem;
  margin-bottom:3rem;
  //opacity:0.87;
  //padding-left:1rem;
  h3 {
    position: relative;
    &::after {
      width: calc(15%);
      left:-30px;
    }
  }
}



 .other-projects {
  h2 {
    width: 100%;
  }
 }
}


@include media-breakpoint-up(lg) {
  .summary {
    div {
      max-width: 1440px;
      padding-left:80px;
      padding-right: 80px;
      position: relative;
      margin-left:auto;
      margin-right: auto;
    } 
    h6 {
      display: inline-block;
    }
  }
  .card-project {
      flex: 0 1 auto;
      margin-bottom: 30px;
      width: calc(50% - 15px);
      h2, h3 {
        font-size:1.75rem;
      }
    }
  .featured-projects {
    position:absolute;
    width: 45%;
    right: 80px;
    top:125px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .other-projects {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    .card-project {
      width: calc(25% - 15px);
    }
  }

  .project-detail {
    padding-top:0;
    h1 {
      font-size: 4rem;
    }
    h2 {
      margin:1rem 0 2rem 0;
      font-size: 1.5rem;
      font-weight: 300;
    }
    h5 {
      font-size:1rem;
      margin:0 0 2rem 0;
    }
  }


  .highlight {
    //padding-left:60px;
    h3 {
      font-size:2.5rem;
      position: relative;
      &::after {
         width: calc(15% + 10px);
        left:-30px;
      }
    }
    p {
      font-size:1.385rem;
      //line-height: 120%;
    }
  }

}

@include media-breakpoint-up(xl) {
  .highlight {
    //padding-left:60px;
    h3 {
      font-size:2.5rem;
      position: relative;
      &::after {
        width: calc(15% + 20px);
        left: calc(-4.166666%);
        /*
        width: calc(15% + 10px);
        left:-30px;
        */
      }
    }
    p {
      font-size:1.385rem;
      //line-height: 120%;
    }
  }
}

@include media-breakpoint-up(xxl) {
  .featured-projects {
    width: 50%;
  }
  .highlight {
    
      &::after {
    width: calc(15% + 25px);
    left: -40px;

      }
   
  }
}
