.detail { 
    .init-scroll {
      display:  none !important;
    }
}

.init-scroll {
  position: absolute;
  bottom: 5px;
  left: 50%;
  height: 80px;
  font-size:0.8125rem;
  color:theme-color('petroil');
  letter-spacing: 1px;
  transform-origin:center bottom;
  transform: translateX(-50%) scale(0.1,0.1);
  opacity: 0;
  transition: opacity $transition-base-duration 600ms, transform $transition-base-duration 600ms cubic-bezier(0.175, 0.885, 0.320, 1);
  span {
    transition: opacity $transition-base-duration 3.4s, transform $transition-base-duration 3.4s;
    position: absolute;
    top:0;
    left:50%;
    transform:translateX(-50%) translateY(0) scale(1);
  }
  &::after {
    content: "";
    position:absolute;
    left:calc(50% - 1px);
    width: 2px;
    height: 60px;
    bottom:0;
    background-color:theme-color('petroil');
    transform-origin:center bottom;
  }
  &.active {
    transform: translateX(-50%) scale(1,1);
    opacity: 1;
    &::after {
      animation-name: init-scroll;
      animation-duration: $transition-smooth-duration;
      animation-iteration-count: 4;
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    span {
      transition-property: opacity, transform;
      transition-delay: 3s;
      transition-duration: $transition-base-duration;
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
      opacity:0;
      transform: translateX(-50%) translateY(35px) scale(0.8);
    }
  }
}




@include media-breakpoint-up(md) {
 .init-scroll {
  display: none !important;
 }
}

@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .init-scroll {
      display: none !important;
   }
}

@media only screen 
  and (min-width: 768px)  
  and (orientation: landscape) {
    .init-scroll {
    display: block !important;
   }
}

@include media-breakpoint-up(lg) {
 .init-scroll {
  display: none !important;
 }
}