

#theme-switcher {
  position:fixed;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  opacity:0;
  visibility: hidden;
  transition: opacity $transition-base-duration;
  z-index:$zindex-message;
  &::after {
    position:absolute;
    height: 100%;
    width: 100%;
    transform: scale(0.1,0) translateZ(0);
    background-color: $black;
    transition: background-color 100ms;
    transition-delay: 500ms;
    content: "";
  }
  &::after {
    top:0;
    left:0%;
  }
  &.open {
    visibility: visible;
    opacity:1;
    &::after {
      animation-name: open-switcher-theme;
      animation-fill-mode:forwards;
      animation-duration:600ms;
      animation-timing-function:$transition-smooth-tf;
      transform-origin: left;
    }
  }
  &.close {
    visibility: visible;
    opacity:1;
    &:after/*, &::before*/ {
      transform: scale(1,1) translateZ(0);
      animation-name: close-switcher-theme;
      animation-fill-mode:forwards;
      animation-duration:600ms;
      animation-timing-function:$transition-smooth-tf;
    }
    &::after {
      transform-origin: left;
      left:0;
      right: auto;
    }
  }
}



#theme-control {
  position:fixed;
  pointer-events: all;
  top:16px;
  right: 142px;
  width: 50px;
  height: 50px;
  opacity:0;
  z-index:9;
  transform: scale(0.5) translateY(-100%) translateZ(0);
  transition: opacity 600ms, transform 600ms cubic-bezier(0.175, 0.885, 0.320, 1);
  cursor: pointer;
  .switch-outline {
    fill: none;
    stroke: theme-color('petroil');
    stroke-width:2;
    transition: stroke-dasharray 600ms, stroke-dashoffset 600ms;
    &.switch-outline-top {
      stroke-dasharray:45;
      stroke-dashoffset:0;
    }
    &.switch-outline-bottom {
      stroke-dasharray:40;
      stroke-dashoffset:0;
    }
  }
  .dot-switcher {
    stroke: theme-color('petroil');
    stroke-width:2;
    fill: none;
    transform: translateX(0) translateZ(0);
    transition: transform $transition-base-duration cubic-bezier(0.175, 0.885, 0.320, 1);
    &.switching {
      fill: theme-color('petroil');
      transform: translateX(14px) translateZ(0);
    }
  }
  &.show {
    transition-delay: $transition-base-duration;
    opacity:1;
    transform: scale(1) translateY(0%) translateZ(0);
  }
}

.audio-controls {
  position:fixed;
  pointer-events: all;
  top:16px;
  right: 79px;
  width: 50px;
  height: 50px;
  opacity:0;
  z-index:9;
  transform: scale(0.5) translateY(-100%) translateZ(0);
  transition: opacity 600ms, transform 600ms cubic-bezier(0.175, 0.885, 0.320, 1);
  cursor: pointer;
  .headphone {
    fill:none;
    stroke:theme-color('petroil');
    stroke-width:2;
  }
  .bar-sound {
    //transition: transform $transition-base-duration;
    transform-origin:25px 35px;
    animation-fill-mode: forwards;
    fill:theme-color('petroil');
    stroke: 0;
  }
  &.show {
    transition-delay: $transition-base-duration;
    opacity:1;
    transform: scale(1) translateY(0%) translateZ(0);
    .bar-sound {
      animation-iteration-count:1;
      animation-name:barScalingDown;
      animation-duration: 2.2s;
      animation-delay:600ms;
    }
  }
  &.playing {
    .bar-sound {
      animation-direction: alternate;
      animation-iteration-count:3;
      transform: scale(1,0.1) translateY(0%) translateZ(0);
      &.bar-sound1 {
        animation-name:barScaling;
        animation-duration: 2.2s;
        animation-delay:600ms;
      }
      &.bar-sound2 {
        animation-name:barScaling2;
        animation-duration: 1.8s;
        animation-delay:$transition-smooth-duration;
      }
      &.bar-sound3 {
        animation-name:barScaling;
        animation-duration: 1.5s;
        animation-delay:850ms;
      }
      &.bar-sound4 {
        animation-name:barScaling2;
        animation-duration: 2.5s;
        animation-delay:1250ms;
      }
      &.bar-sound5 {
        animation-name:barScaling;
        animation-duration: 1.8s;
        animation-delay:700ms;
      }
    }
  }
}
