@font-face {
  font-family: 'Dual-300';
  src:  url('../fonts/39BD0F_0_0.eot');
  src:  url('../fonts/39BD0F_0_0.eot?#iefix') format('embedded-opentype'),
        url('../fonts/39BD0F_0_0.woff2') format('woff2'),
        url('../fonts/39BD0F_0_0.woff') format('woff'),
        url('../fonts/39BD0F_0_0.ttf') format('truetype');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

html, body {
  font-size:16px;
  font-weight: 300;
  font-family: 'Dual-300';
}

h1,h2,h3,h4,h5,.h1,.h2,.h3,.h4,.h5 {
  line-height: 120%;
  margin:0.5rem 0;
  font-weight: 300;
}
h1,.h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6 , .h6 {
  opacity: 0.87;
}

h1,.h1 {
  font-size:3rem;
  line-height: 110%;
}

h2,.h2 {
  font-size:2.5rem;
}

h3,.h3 {
  font-size:2rem;
}

h4,.h4 {
  font-size:1.5rem;
}

h5,.h5 {
  font-size:1.25rem;
}

h6,.h6 {
  font-size:1rem;
}

.caption {
  font-size:1rem;
}

.txt-sans, .txt-j {
	font-family: $font-family-display;
}
.txt-serif, .txt-dm {
	font-family: $font-family-serif
}

.lined {
  border-left: 1px solid theme-color('lighter-grey');
  padding-left: 15px;
  margin-left:-15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

blockquote {
  text-align: center;
  font-size: 1.75rem;
  color: theme-color('black');
  opacity: 0.5;
  padding:1rem;
  position: relative;
  &.show-quote {
    &::after, &::before {
      position: relative;
      display: inline-block;
      content: '"';
    }
    &::after {
      margin-left:8px;
    }
    &::before {
      margin-right: 8px;
    }
  }
}

.txt-uppercase {
	text-transform: uppercase;
}

.section-title {
  opacity:0.3;
  margin-top:2.75rem;
  letter-spacing: 1px; 
}

p {
	font-weight: 400;
  opacity: 0.87;
	strong {
		font-weight: 700;
	}
  small {
    &.side-note {
      display: block;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 1.5px;
      line-height: 1.3;
      opacity: 0.4;
      &.evidence {
        padding: 15px;
        background-color: theme-color('bright-grey');
      }
    }
  }
}

@include txtColors();

@include media-breakpoint-up(md) {
	html, body {
    font-size:18px;
  }
  .section-title {
    margin-bottom: 1.25rem;
  }
}

@include media-breakpoint-up(lg) {
  html, body {
    font-size:21px;
  }
}


@include media-breakpoint-up(xl) {
	html, body {
    font-size:23px;
  }
}
