//colors

// neutral
$white:             #FFF !default;
$black:             #000 !default;
$dark-grey:         #1e1e1e !default;
$mid-grey:          #2d2d2d !default;
$light-grey:        #3d3d3d !default;
$lighter-grey:      #7d7d7d !default;
$bright-grey:       #f5f5f5 !default;
//primary
$petroil:           #084C61 !default;
$petroil-accent:    #007c91 !default;
$light-petroil:     #41788e !default;
$bright-petroil:    #e0edef !default;
//helper
$light-yellow:      #FCEC70 !default;



$theme-colors: () !default;
$theme-colors: map-merge((
  "white":          $white,
  "black":          $black,
  "dark-grey":      $dark-grey,
  "mid-grey":       $mid-grey,
  "light-grey":     $light-grey,
  "lighter-grey":   $lighter-grey,
  "bright-grey":    $bright-grey,
  "petroil":        $petroil,
  "primary":        $petroil,
  "petroil-accent": $petroil-accent,
  "light-petroil":  $light-petroil,
  "bright-petroil": $bright-petroil,
  "light-yellow":   $light-yellow,
), $theme-colors);

//breakpoint
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

$enable-grid-classes:       true !default;

// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");

// Grid columns
$grid-columns:        12 !default;
$grid-gutter-width:   30px !default;

//grid
$enable-grid-classes: true !default;

$grid-columns:        12 !default;
$grid-gutter-width:   30px !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  150 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:       $dark-grey !default;
$yiq-text-light:      $white !default;

//link
$link-color:      red;
$link-decoration: none;

$link-hover-color:      yellow;
$link-hover-decoration: none;

//type
$paragraph-margin-bottom: 1rem;
$headings-margin-bottom:  1.5rem;

//body
$body-bg:     theme-color('default');
$body-color:  theme-color('dark');

//font
$line-height-base:  1.5;
$font-weight-base:  400;
$font-size-base:    16px;
$dt-font-weight:    normal;

// stylelint-disable value-keyword-case
$font-family-sans-serif:      'Dual-300;', sans-serif !default;
$font-family-display:         'Josefin Sans', sans-serif !default;
$font-family-serif:           'DM Serif Display', serif !default;
$font-family-base:            $font-family-sans-serif;
// stylelint-enable value-keyword-case

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 1.75 !default;
$h3-font-size:                $font-size-base * 1.5 !default;
$h4-font-size:                $font-size-base * 1.25 !default;
$h5-font-size:                $font-size-base * 1 !default;
$h6-font-size:                $font-size-base !default;

//utils
$zindex-sticky:               1000 !default;
$zindex-fixed:                1050 !default;
$zindex-message:              1075 !default;
$zindex-modal:                1100 !default;

//table
$table-cell-padding : 1rem;

//text
$text-muted: #CCC;

//transtiion
$transition-base-duration:    400ms !default;
$transition-smooth-duration:  1s !default;
$transition-base-tf:          cubic-bezier(0.770, 0.000, 0.175, 1.000);
$transition-smooth-tf:        cubic-bezier(0.175, 0.885, 0.320, 1.275);
$transition-blob-nav:         $transition-base-tf;