body{
  &.full-overflow{
    overflow: hidden;
  }
  &.init {
    .modal-init {
      opacity: 0;
    }
  }
  &.page-out {
    animation-name: switchView;
    animation-fill-mode:forwards;
    animation-duration:800ms;
    animation-timing-function:$transition-smooth-tf;
  }
}

section {
  margin-bottom:20px;
}

/* container/wrapper */
main {
  padding:40px 30px;
  position:relative;
  max-width: 1440px;
  margin: 0 auto;
  &:before {
    content: "";
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background:theme-color('white');
    opacity:0;
    visibility: hidden;
    transition: opacity $transition-base-duration;
    z-index:10;
  }
}

.strip-video {
  margin: 0;
  padding:7% 0;
  background-color: theme-color("bright-grey");
}

footer {
  &.strip-action {
    position: relative;
  }
}

@include media-breakpoint-up(md) {

}

@include media-breakpoint-up(lg) {
  main {
    padding:80px;
  }
}

@include media-breakpoint-up(xl) {
  
}