include blocks/mixins.pug

doctype html
html(lang='')
  
    +head({title: 'ABenergie'})
    
    body.detail.full-overflow

        .modal.modal-init

        .float-nav
            include blocks/logo.pug
            include blocks/theme-controls.pug
            include blocks/audio-controls.pug
            include blocks/nav.pug

        main

            include views/details/abenergie-detail.pug

        include blocks/strip-action.pug

        include blocks/wizard-storage.pug
        include blocks/filter-blob.pug
        include blocks/bg-audio.pug
        include blocks/efx.pug
        include blocks/theme-switcher.pug
        include blocks/scroll-liner.pug
        include blocks/wizard-storage.pug
        
        include blocks/scripts.pug


