include blocks/mixins.pug

doctype html
html(lang='')
  
    +head({title: 'Roughdesign - Giampaolo Tenti'})
    
    body.full-overflow

        .modal.modal-init

        .float-nav
            include blocks/logo.pug
            include blocks/theme-controls.pug
            include blocks/audio-controls.pug
            include blocks/nav.pug

            

        main

            include blocks/intro.pug

            +featured-projects
            +other-projects
            +experiments
            +prize


        include blocks/wizard-storage.pug
        include blocks/filter-blob.pug
        include blocks/bg-audio.pug
        include blocks/efx.pug
        include blocks/theme-switcher.pug
        include blocks/scroll-liner.pug
        include blocks/wizard-storage.pug
        
        include blocks/scripts.pug

