block audio-controls
	div.audio-controls(data-toggle-music)
		svg(version="1.1" xmlns="https:/www.w3.org/2000/svg" viewBox="0 0 50 50")
			path.headphone(d="M8.4,34.5v-9.8c0-9.5,7.4-17.2,16.5-17.2h0c9.1,0,16.5,7.7,16.5,17.2v9.5")
			polyline.headphone(points="10.9,27.9 13.4,27.9 13.4,41.8 8.4,41.8 8.4,38.2")
			polyline.headphone(points="39.1,27.9 36.6,27.9 36.6,41.8 41.5,41.8 41.5,38.2")
			path.bar-sound.bar-sound1(d="M25,43.2L25,43.2c-0.5,0-0.9-0.4-0.9-0.8V27.3c0-0.5,0.4-0.8,0.8-0.8H25c0.5,0,0.8,0.4,0.8,0.8v15.1C25.8,42.8,25.5,43.2,25,43.2z")
			path.bar-sound.bar-sound2(d="M21.1,40.2L21.1,40.2c-0.5,0-0.9-0.4-0.9-0.8v-9.1c0-0.5,0.4-0.8,0.8-0.8h0.1c0.5,0,0.8,0.4,0.8,0.8v9.1C22,39.8,21.6,40.2,21.1,40.2z")
			path.bar-sound.bar-sound3(d="M17.2,37.2L17.2,37.2c-0.5,0-0.9-0.4-0.9-0.8v-3.1c0-0.5,0.4-0.8,0.8-0.8h0.1c0.5,0,0.8,0.4,0.8,0.8v3.1C18.1,36.8,17.7,37.2,17.2,37.2z")
			path.bar-sound.bar-sound4(d="M28.9,40.2L28.9,40.2c-0.5,0-0.9-0.4-0.9-0.8v-9.1c0-0.5,0.4-0.8,0.8-0.8h0.1c0.5,0,0.8,0.4,0.8,0.8v9.1C29.7,39.8,29.3,40.2,28.9,40.2z")
			path.bar-sound.bar-sound5(d="M32.8,37.2L32.8,37.2c-0.5,0-0.9-0.4-0.9-0.8v-3.1c0-0.5,0.4-0.8,0.8-0.8h0.1c0.5,0,0.8,0.4,0.8,0.8v3.1C33.6,36.8,33.2,37.2,32.8,37.2z")