block experiments
	section.exp
		h2.section-title Experiments &amp; Test

		ul
			li.exp-item
				a(href="//www.roughdesign.it/stage/imagetosvg/" target="_blank")
					strong.exp-title Image to Svg
					span.exp-desc Testing a php porting class to create svg placeholder of images via image Processing and GD
			li.exp-item
				a(href="//www.roughdesign.it/stage/hyperspace/" target="_blank")
					strong.exp-title Hyperspace
					span.exp-desc An hyperspace effect for game's landing page. Just click/tap and hold. Release to exit hyperspace
			li.exp-item
				a(href="//www.roughdesign.it/stage/giphy-api/" target="_blank")
					strong.exp-title Giphy API
					span.exp-desc Test giphy API to retrieve sticker and gif, random, trends or by keyword
			li.exp-item
				a(href="//www.roughdesign.it/stage/croccabuona/" target="_blank")
					strong.exp-title Croccabuona
					span.exp-desc A mockup to test invert scroll effect using RAF and scroll Debounce
			li.exp-item
				a(href="//www.roughdesign.it/stage/vip/" target="_blank")
					strong.exp-title Vip
					span.exp-desc A mockup to test some animation for a one page minisite
			li.exp-item
				a(href="//www.roughdesign.it/stage/anima/" target="_blank")
					strong.exp-title Frame Timeline
					span.exp-desc Testing frame by frame replace image script using animejs animation library
			li.exp-item
				a(href="//www.roughdesign.it/stage/card-flip/v3/" target="_blank")
					strong.exp-title Flip
					span.exp-desc Testing css 3D  to apply book flip effect to boxes
			
		
		