block featured-project
	section.featured-projects
		article.card.card-project
			h2 
				//a(href="elica.html" data-view="detail")
				a(href="https://www.elica.com" target="_blank" rel="noopener noreferrer")
					span Elica
				img(src="images/projects/thumb-elica_sm.jpg" alt="Elica")

		article.card.card-project
			h2 
				a(href="https://www.lavazza.it/it/desea.html#/desea" target="_blank" rel="noopener noreferrer")
					span Desea
				img(src="images/projects/thumb-desea_sm.jpg" alt="Desea")

		article.card.card-project
			h2
				a(href="https://www.roughdesign.it/prototype/wi-bike/dist/index-it.html" target="_blank" rel="noopener noreferrer")
					span.invert Wi-bike
				img(src="images/projects/thumb-wibike_sm.jpg" alt="Wi-bike")

		article.card.card-project
			h2
				a(href="cuore-ferragamo.html" data-view="detail")
					span Cuore Ferragamo
				img(src="images/projects/thumb-cuoreferragamo_sm.jpg" alt="Cuore Ferragamo")
