block filter-blob
	svg(xmlns="https://www.w3.org/2000/svg" version="1.1")
		defs
			filter(id="goo-efx")
				feGaussianBlur(in="SourceGraphic" result="blur" stdDeviation="10")
				feColorMatrix(in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo")
				feComposite(in2="goo" in="SourceGraphic" result="mix")
			
			filter(id="fancy-goo-efx")
				feGaussianBlur(in="SourceGraphic" result="blur" stdDeviation="10")
				feColorMatrix(in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo")
				feComposite(in="SourceGraphic" in2="goo" operator="atop")
			
		