block head
	head
		meta(charset='utf-8')
		meta(name='description', content='User Interface Designer (UI),User Experience Designer (UX), Visual Designer and Front-end Developer based in Milan, Italy')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(type="image/x-icon" rel="icon" href="/favicon.ico")
		link(rel="canonical" href="//roughdesign.it/")
		title= args.title
		//link(rel='apple-touch-icon', href='apple-touch-icon.png')
		// Place favicon.ico in the root directory
		
		include styles.pug