block intro
  section.intro
    h1 I'm a
      span(id="txt-type") T-shape
      span(id="txt-role") designer
      span based in
      span Milan
    h2.h5 I love simple and
      span efficient user experience
      span with fresh concept and
      span impressive look &amp; feel.