block logo
	a.logo(href="./" aria-label="Home Page")
		div(itemscope="" itemtype="https://schema.org/Organization")
			link(itemprop="url" href="https://www.roughdesign.it")
			meta(itemprop="name" content="Roughdesign")
			meta(itemprop="logo" content="images/logo-rough.svg")
			svg(xmlns="https://www.w3.org/2000/svg" viewBox="0 0 50 50" version="1.1")
				path.bg-logo(d="M25,50L25,50C11.2,50,0,38.8,0,25v0C0,11.2,11.2,0,25,0h0c13.7,0,25,11.2,25,25v0C50,38.8,38.8,50,25,50z")
				path.logo-r(d="M16.2,35.7v-0.4l0.6-0.2c0.6-0.2,1-0.4,1.2-0.8c0.2-0.3,0.3-0.8,0.3-1.3V19.5c0-0.6-0.1-1.1-0.3-1.4c-0.2-0.3-0.6-0.5-1.2-0.6l-0.6-0.2v-0.4l7.4-2.5l0.4,0.4l0.4,3.7v0.3c0.4-0.8,0.9-1.5,1.6-2.2c0.6-0.7,1.4-1.2,2.2-1.7c0.8-0.4,1.6-0.6,2.3-0.6c1.1,0,1.9,0.3,2.5,0.9c0.6,0.6,0.9,1.4,0.9,2.3c0,1-0.3,1.7-0.8,2.3c-0.6,0.5-1.2,0.8-2,0.8c-1.2,0-2.3-0.6-3.2-1.8l-0.1-0.1c-0.3-0.4-0.6-0.6-1-0.7c-0.4,0-0.7,0.1-1,0.5c-0.3,0.3-0.5,0.6-0.7,0.9c-0.2,0.4-0.4,0.8-0.5,1.2v12c0,1.1,0.5,1.9,1.5,2.2l1.4,0.4v0.4H16.2z")