block mixins
  include ../mixins/head.pug
  include ../mixins/featured-projects.pug
  include ../mixins/other-projects.pug
  include ../mixins/prize.pug
  include ../mixins/experiments.pug
  include ../mixins/actionBtn.pug