block nav
  nav.blob-nav
    button.toggle-nav(data-toggle="collapse" data-target="#nav-list" aria-expanded="false")
      svg(viewBox="0 0 50 50" xmlns="https://www.w3.org/2000/svg" version="1.1")
        circle(cx="25" cy="25" r="16")
        circle(cx="25" cy="25" r="10")
        circle(cx="25" cy="25" r="5")
        line(x1="0" y1="0" x2="50" y2="50")
        line(x1="50" y1="0" x2="0" y2="50")
        line(x1="0" y1="0" x2="50" y2="50")
        line(x1="50" y1="0" x2="0" y2="50")
    div(id="nav-list")
      ul
        li
          a(href="https://www.linkedin.com/in/giampaolotenti/" target="_blank") Linkedin
        li
          a(href="https://github.com/keypaul78" target="_blank") Github
        li
          a(href="https://stackoverflow.com/users/3493614/keypaul" target="_blank") 
            abbr(title="Stackoverflow") SO
        li
          a.c-m(href="#c-m" target="_blank")

  div.blobs(role="presentation")
    div.blob
    div.blob
    div.blob
    div.mini-blob
    div.mini-blob
    div.mini-blob
    div.mini-blob
    div.mini-blob
    div.mini-blob
    div.mini-blob
    div.mini-blob
    div.mini-blob
    div.mini-blob
    div.mini-blob
    div.mini-blob
    div.mini-blob
    div.mini-blob
    div.mini-blob