block other-projects
	section.other-projects
		h2.section-title Other projects
		article.card.card-project
			h3 
				a(href="mogo-brooks-adv.html" data-view="detail") 
					span Mogo
				img(src="images/projects/mogo/thumb-mogo-brooks_sm.jpg" alt="Mogo Brooks")
		article.card.card-project
			h3 
				a(href="imagery-lavazza.html" data-view="detail") 
					span.invert Imagery Lavazza
				img(src="images/projects/imagery-lavazza/thumb-imagery-lavazza_sm.jpg" alt="Imagery Lavazza")
		article.card.card-project
			h3 
				a(href="puoi-crederci.html" data-view="detail") 
					span.invert Puoi Crederci
				img(src="images/projects/puoi-crederci/thumb-puoi-crederci_sm.jpg" alt="Puoi Crederci")
		article.card.card-project
			h3 
				a(href="io-yogurt.html" data-view="detail") 
					span.invert Io Yogurt
				img(src="images/projects/io-yogurt/thumb-io-yogurt_sm.jpg" alt="Io Yogurt")
		article.card.card-project
			h3 
				a(href="vodafone-app-tit.html" data-view="detail") 
					span.invert App TiT
				img(src="images/projects/vodafone-app-tit/thumb-vodafone-app-tit_sm.jpg" alt="Vodafone app Tit")
		article.card.card-project.justify-content-start
			h3 
				a(href="salutiamo.html" data-view="detail") 
					span Salutiamo
				img(src="images/projects/salutiamo/thumb-salutiamo_sm.jpg" alt="Salutiamo")
		article.card.card-project.justify-content-start
			h3 
				a(href="abenergie.html" data-view="detail") 
					span ABenergie
				img(src="images/projects/abenergie/thumb-abenergie_sm.jpg" alt="ABenergie")
		article.card.card-project.justify-content-start
			h3 
				a(href="mff.html" data-view="detail") 
					span.invert Mff
				img(src="images/projects/mff/thumb-mff_sm.jpg" alt="MyFirstFlash")
		//article.card.card-project.justify-content-start
			h3 
				a(href="my-rose.html" data-view="detail") 
					span.invert My Rose
				img(src="images/projects/my-rose/thumb-myrose_sm.jpg" alt="My Rose")
		//article.card.card-project.justify-content-start
			h3 
				a(href="webapp-ab.html" data-view="detail") 
					span.invert webapp AB
				img(src="images/projects/abenergie/thumb-app-ab_sm.jpg" alt="Webapp AB")