block prize
	section.prizes
		h2.section-title Honors &amp; Awards
		ul
			li.prize-item
				strong.prize-name Special Kudos
				span   Css design awards 
				strong.prize-site Lavazza Deséa
				small Dic 2019
			li.prize-item
				strong.prize-name Honorable Mention
				span   Awwwards 
				strong.prize-site Lavazza Deséa
				small Dic 2019
			li.prize-item
				strong.prize-name Best Industry website
				span  Distribuzione Moderna DM Awards 
				strong.prize-site Bonduelle
				small Nov 2014
			li.prize-item
				strong.prize-name Honorable mention and Nominee
				span  Awwwards and Css design awards
				strong.prize-site Selenella
				small Sept 2012
			li.prize-item
				strong.prize-name Nominee
				span  Css design awards
				strong.prize-site Lamborghini aventador
				small Jul 2011
		