block scripts

	// build:js scripts/plugins.js
	script(src='scripts/plugins/config-lazysizes.js')
	script(src='/node_modules/lazysizes/plugins/parent-fit/ls.parent-fit.js')
	script(src='/node_modules/lazysizes/plugins/progressive/ls.progressive.js')
	script(src='/node_modules/lazysizes/plugins/unveilhooks/ls.unveilhooks.js')
	script(src='/node_modules/lazysizes/plugins/custommedia/ls.custommedia.js')
	script(src='/node_modules/lazysizes/plugins/fix-ios-sizes/fix-ios-sizes.js')
	script(src='/node_modules/lazysizes/plugins/respimg/ls.respimg.js')
	script(src='/node_modules/lazysizes/plugins/bgset/ls.bgset.js')
	script(src='/node_modules/lazysizes/lazysizes.js')
	// endbuild

	//build:js scripts/app.js
	script(src='scripts/index.js')
	script(src='scripts/helper/utils.js')
	script(src='scripts/init.js')
	script(src='scripts/scroll-debounce.js')
	script(src='scripts/nav.js')
	script(src='scripts/collapse.js')
	script(src='scripts/music.js')
	script(src='scripts/theme.js')
	script(src='scripts/message.js')
	script(src='scripts/switch-detail.js')
	script(src='scripts/action-btn.js')
	// endbuild