block styles
	link(rel='apple-touch-icon', href='apple-touch-icon.png')
	// Place favicon.ico in the root directory

	//webfont
	link(href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,300|DM+Serif+Display&display=swap" rel="stylesheet")

	// build:css styles/vendor.css
	// endbuild

	// build:css styles/app.css
	link(rel='stylesheet', href=`styles/index.css`)
	// endbuild