block theme-controls
	div(id="theme-control" data-theme-toggler)
		svg(version="1.1" id="Livello_3" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 50 50")
			path.switch-outline.switch-outline-top(d="M9.4,19.2c1.7-1.9,4.2-3.1,6.9-3.1h16c5.1,0,9.3,4.2,9.3,9.3v0c0,2.4-1,4.7-2.5,6.3")
			path.switch-outline.switch-outline-bottom(d="M39.1,31.7c-1.7,1.8-4.1,2.9-6.8,2.9h-16c-5.1,0-9.3-4.2-9.3-9.3v0c0-2.4,0.9-4.6,2.4-6.2")
			path.dot-switcher(d="M17.3,30.7L17.3,30.7c-2.9,0-5.3-2.4-5.3-5.3v0c0-2.9,2.4-5.3,5.3-5.3h0c2.9,0,5.3,2.4,5.3,5.3v0C22.6,28.3,20.3,30.7,17.3,30.7z")
