block wizard-storage
	div.badge-message(data-message)
		div
			small
			span(data-time="1")
				strong Hello!

			span(data-choice data-target="#choice-music")
				strong Turn on some music?
				button(data-value="no" data-music-stop) Not now
				button(data-value="yes" data-music-play) Yes

			span(data-time="1.5" id="choice-music" data-result)
				strong(data-value="no") Ok, enjoy the silence! 
				strong(data-value="yes") Nice, let's chillout.

			span(data-choice data-target="#choice-mode")
				strong Choose your favorite theme
				button(data-value="light" data-theme="light-mode" data-audio="#efx-jedi") White
				button(data-value="dark" data-theme="dark-mode" data-audio="#efx-darkside") Black

			span(data-time="1.5" id="choice-mode" data-result)
				strong(data-value="light") May the force be with you.<i></i>
				strong(data-value="dark") Give yourself to the Dark Side<i></i>

			span(data-time="1.5")
				strong Next time I won't bother you.
			span(data-time="1")
				strong See ya! Bye!
