article.project-detail
    h1.txt-dm ABenergie
    h2.txt-j UI/UX and Visual design for the corporate website and b2b app.
    h5.txt-j Client: ABenergie

    img(class="img-fluid" src="images/projects/abenergie/abenergie-01.jpg" alt="Home page")

    img(class="img-fluid lazyload spaced" data-src="images/projects/abenergie/abenergie-02.jpg" alt="Top menù")

    img(class="img-fluid lazyload spaced" data-src="images/projects/abenergie/abenergie-03.jpg" alt="Misc pages")

    img(class="img-fluid lazyload spaced" data-src="images/projects/abenergie/abenergie-04.jpg" alt="Icon set and faq search")

    img(class="img-fluid lazyload spaced" data-src="images/projects/abenergie/abenergie-05.jpg" alt="b2b app")

    section.strip-video
        video.medium.strip(autoplay controls muted loop src="video/projects/abenergie/abenergie-scene.mp4")

    img(class="img-fluid lazyload spaced" data-src="images/projects/abenergie/abenergie-06.jpg" alt="b2b app sections")