article.project-detail
	h1.txt-dm Cuore Ferragamo
	h2.txt-j UI/UX Design and Frontend Development of a pre-order platform
	h5.txt-j Client: Vertime

	a.btn.btn-petroil.btn-visit(href="//roughdesign.it/prototype/cuore-ferragamo/" target="_blank"  rel="noopener noreferrer") Teaser LP


	img(id="launch-action" class="img-fluid" src="images/projects/cuore-ferragamo/cuore-ferragamo-01.jpg" alt="Splash page")

	img(class="img-fluid lazyload" data-src="images/projects/cuore-ferragamo/cuore-ferragamo-02.jpg" alt="Home page")

	img(class="img-fluid lazyload spaced" data-src="images/projects/cuore-ferragamo/cuore-ferragamo-03.jpg" alt="Gif creation")

	img(class="img-fluid lazyload spaced" data-src="images/projects/cuore-ferragamo/cuore-ferragamo-04.jpg" alt="Some screenshots")

	img(class="img-fluid lazyload spaced" data-src="images/projects/cuore-ferragamo/cuore-ferragamo-05.jpg" alt="Registration page")

	img(class="img-fluid lazyload spaced" data-src="images/projects/cuore-ferragamo/cuore-ferragamo-06.jpg" alt="Thank you page")

+actionBtn({href: '//roughdesign.it/prototype/cuore-ferragamo/', trigger: '#launch-action', target: '_blank'})