
article.project-detail
    h1.txt-dm Elica
    h2.txt-j IX UI - Website redesign
    h5.txt-j Client: Elica S.p.A.

    a.btn.btn-petroil.btn-visit(href="https://www.elica.com" target="_blank"  rel="noopener noreferrer") Visit site

    section.explain.highlight
        h3.txt-dm(id="launch-action") Concept
        p.txt-j The midsole meets the nature giving <a href="#">life to</a> a micro environment. 
        p.txt-j The midsole meets the nature <br />giving life to a micro environment.
        p.txt-dm The midsole meets the nature <br />giving life to a micro environment.
        
    section.explain
        p.txt-j The midsole meets the nature <br />giving life to a micro environment. 
        p.txt-j.lined
            |The midsole meets <a href="#">the nature</a> giving life to a micro environment.
            |The midsole meets the nature <br />giving life to a micro environment.
            |The midsole meets the nature <br />giving life to a micro environment.
        a.btn.btn-petroil.btn-small.btn-outline(href="https://www.elica.com" target="_blank"  rel="noopener noreferrer") Visit site

        p
            blockquote.txt-dm.show-quote The midsole meets the nature <br />giving <a href="#">life</a> to a micro environment

        p
            small.side-note
                |The midsole meets the <a href="#">nature giving</a> life to a micro environment.<br />
                |<i>The midsole meets the nature giving life to a micro environment.</i><br />
                |The midsole meets the nature <br />giving life to a micro environment.
        a.btn.btn-petroil.btn-small(href="https://www.elica.com" target="_blank"  rel="noopener noreferrer") Visit site


        p
            small.side-note.evidence
                |The midsole meets the nature giving life to a micro environment.<br />
                |The <a href="#">midsole</a> meets the nature giving life to a micro environment.<br />
                |The midsole meets the nature <br />giving life to a micro environment.
        a.btn.btn-petroil.btn-outline(href="https://www.elica.com" target="_blank"  rel="noopener noreferrer") Visit site
    
    section.explain
        figure
            img(class="img-fluid" src="images/projects/cuore-ferragamo/cuore-ferragamo-01.jpg" alt="Splash page")
            figcaption lorem ipsum dolor sit amet

        p.txt-j The midsole meets the nature <br />giving life to a micro environment. 
        p.txt-j.lined
            |The midsole meets <a href="#">the nature</a> giving life to a micro environment.
            |The midsole meets the nature <br />giving life to a micro environment.
            |The midsole meets the nature <br />giving life to a micro environment.

    section.explain
        figure
            img(class="img-fluid lazyload" data-src="images/projects/cuore-ferragamo/cuore-ferragamo-02.jpg" alt="Home page")
            a(href="#" target="_blank" rel="noopener noreferrer")
                figcaption lorem ipsum dolor sit amet

        p
            small.side-note.evidence
                |The midsole meets the nature giving life to a micro environment.<br />
                |The <a href="#">midsole</a> meets the nature giving life to a micro environment.<br />
                |The midsole meets the nature <br />giving life to a micro environment.
        a.btn.btn-petroil.btn-small.btn-outline(href="https://www.elica.com" target="_blank"  rel="noopener noreferrer") Visit site


+actionBtn({href: 'https://www.elica.com', trigger: '#launch-action', target: '_blank'})
