article.project-detail
    h1.txt-dm Imagery Lavazza
    h2.txt-j Visual and graphic design artworks for promo and products.
    h5.txt-j IT - UK - DE

    .highlight
        h3.txt-dm Products

    img(class="img-fluid" src="images/projects/imagery-lavazza/imagey-lavazza-01.jpg" alt="Products")

    img(class="img-fluid lazyload spaced" data-src="images/projects/imagery-lavazza/imagey-lavazza-02.png" alt="Products")

    img(class="img-fluid lazyload" data-src="images/projects/imagery-lavazza/imagey-lavazza-03.jpg" alt="Products")

    img(class="img-fluid lazyload" data-src="images/projects/imagery-lavazza/imagey-lavazza-04.jpg" alt="Products")

    .highlight
        h3.txt-dm Promo 

    img(class="img-fluid lazyload" data-src="images/projects/imagery-lavazza/imagey-lavazza-05.jpg" alt="Promo - Chili")

    img(class="img-fluid lazyload" data-src="images/projects/imagery-lavazza/imagey-lavazza-06.jpg" alt="Prmo - Chili")

    img(class="img-fluid lazyload spaced" data-src="images/projects/imagery-lavazza/imagey-lavazza-07.jpg" alt="Promo - San Valentino")

    img(class="img-fluid lazyload" data-src="images/projects/imagery-lavazza/imagey-lavazza-08.jpg" alt="Promo - San Valentino")

    img(class="img-fluid lazyload" data-src="images/projects/imagery-lavazza/imagey-lavazza-09.jpg" alt="Promo - More than espresso")

    img(class="img-fluid lazyload" data-src="images/projects/imagery-lavazza/imagey-lavazza-10.jpg" alt="Promo - More than espresso")