article.project-detail
    h1.txt-dm Io Yogurt
    h2.txt-j Website to promote cooking show events - Visual design, UI design
    h5.txt-j Client: Danone

    img(class="img-fluid" src="images/projects/io-yogurt/io-yogurt-01.jpg" alt="Manifest page")

    img(class="img-fluid lazyload spaced" data-src="images/projects/io-yogurt/io-yogurt-02.jpg" alt="Misc pages")

    img(class="img-fluid lazyload spaced" data-src="images/projects/io-yogurt/io-yogurt-03.jpg" alt="Schedule Adv print")