article.project-detail
	h1.txt-dm Mff
	h2.txt-j Design system of a community platform for events and dating. Creative direction, Visual Design, UI/UX Design, Frontend Development.
	h5.txt-j Client: Alniro Sagl

	img(class="img-fluid" src="images/projects/mff/mff-01.jpg" alt="Home page")

	section.strip-video
		video.medium.strip(
			controls 
			poster="video/projects/mff/cover-mff-teaser.jpg" 
			src="video/projects/mff/mff-teaser.mp4")


	img(class="img-fluid lazyload" data-src="images/projects/mff/mff-02.jpg" alt="Top menù")

	img(class="img-fluid lazyload spaced" data-src="images/projects/mff/mff-03.jpg" alt="Misc pages")

	img(class="img-fluid lazyload spaced" data-src="images/projects/mff/mff-04.jpg" alt="Icon set and faq search")

	img(class="img-fluid lazyload spaced" data-src="images/projects/mff/mff-05.jpg" alt="b2b app")

	img(class="img-fluid lazyload spaced" data-src="images/projects/mff/mff-06.jpg" alt="b2b app sections")

	img(class="img-fluid lazyload spaced" data-src="images/projects/mff/mff-07.jpg" alt="b2b app")

	img(class="img-fluid lazyload" data-src="images/projects/mff/mff-08.jpg" alt="b2b app sections")