article.project-detail
    h1.txt-dm Mogo by Brooks
    h2.txt-j Advertising of the new biodegradable midsole.
    h5.txt-j Client’s choice award winner

    img(class="img-fluid" src="images/projects/mogo/adv-brooks-midsole.jpg" alt="Advertising MOGO")

    .highlight
        h3.txt-dm Concept
        p.txt-j The midsole meets the nature <br />giving life to a micro environment. 

    img(class="img-fluid lazyload" data-src="images/projects/mogo/detail-brooks-midsole.jpg" alt="Advertising MOGO - zoom details")

    img(class="img-fluid lazyload" data-src="images/projects/mogo/other-idea-brooks-midsole.jpg" alt="Advertising MOGO - Alternative")