article.project-detail
    h1.txt-dm My Rose 
    h2.txt-j UI/UX and Visual design for facebook app.
    h5.txt-j Client: Acqua alle rose

    img(class="img-fluid" src="images/projects/my-rose/my-rose-01.jpg" alt="Splash and login page")

    img(class="img-fluid lazyload spaced" data-src="images/projects/my-rose/my-rose-02.jpg" alt="Some feedbacks and interstitial pages")

    img(class="img-fluid lazyload spaced" data-src="images/projects/my-rose/my-rose-03.jpg" alt="Video or Slider build page")

    img(class="img-fluid lazyload spaced" data-src="images/projects/my-rose/my-rose-04.jpg" alt="Mobile version")
