article.project-detail
    h1.txt-dm Puoi Crederci
    h2.txt-j Website to promote farm open days - Visual design, UI design and Frontend development
    h5.txt-j Client: Latteria Soresina

    a.btn.btn-petroil.btn-visit(href="//puoicrederci.it/" target="_blank"  rel="noopener noreferrer") Visit site

    video.full(id="launch-action" 
        autoplay 
        controls 
        loop 
        muted
        src="video/projects/puoi-crederci/puoi-crederci-hero.mp4" type="")

    img(class="img-fluid spaced" src="images/projects/puoi-crederci/puoi-crederci-01.png" alt="Products")

    img(class="img-fluid lazyload spaced" data-src="images/projects/puoi-crederci/puoi-crederci-02.jpg" alt="Products")

    img(class="img-fluid lazyload" data-src="images/projects/puoi-crederci/puoi-crederci-03.jpg" alt="Products")

    img(class="img-fluid lazyload" data-src="images/projects/puoi-crederci/puoi-crederci-04.jpg" alt="Products")

    video.full(
        autoplay
        controls 
        loop 
        muted
        src="video/projects/puoi-crederci/puoi-crederci-nav.mp4" type="")

+actionBtn({href: '//puoicrederci.it/', trigger: '#launch-action', target: '_blank'})