article.project-detail
    h1.txt-dm Salutiamo
    h2.txt-j Design of a booking platform for medical services
    h5.txt-j Client: Reale Group

    a.btn.btn-petroil.btn-visit(href="//www.salutiamo.it/come-funziona" target="_blank"  rel="noopener noreferrer") Visit site

    img(id="launch-action" class="img-fluid" src="images/projects/salutiamo/salutiamo-01.jpg" alt="Home page")

    video.full(
        controls
        muted
        autoplay 
        loop 
        src="video/projects/salutiamo/search.mp4" type="")

    img(class="img-fluid lazyload spaced" data-src="images/projects/salutiamo/salutiamo-02.jpg" alt="Landing page")

    img(class="img-fluid lazyload spaced" data-src="images/projects/salutiamo/salutiamo-03.jpg" alt="Misc pages nad icons")

    img(class="img-fluid lazyload spaced" data-src="images/projects/salutiamo/salutiamo-04.jpg" alt="Misc imagery and illustration")

    img(class="img-fluid lazyload spaced" data-src="images/projects/salutiamo/salutiamo-05.jpg" alt="Misc imagery")

+actionBtn({href: '//www.salutiamo.it/come-funziona', trigger: '#launch-action', target: '_blank'})