article.project-detail
    h1.txt-dm Vodafone App TiT
    h2.txt-j UI/UX and Visual design for b2b and corporate apps.
    h5.txt-j Client: Vodafone

    img(class="img-fluid" src="images/projects/vodafone-app-tit/vodafone-apptit-01.jpg" alt="Welcome screen")

    img(class="img-fluid lazyload spaced" data-src="images/projects/vodafone-app-tit/vodafone-apptit-02.jpg" alt="Some section pages")

    img(class="img-fluid lazyload spaced" data-src="images/projects/vodafone-app-tit/vodafone-apptit-03.jpg" alt="Misc and icons")

    img(class="img-fluid lazyload spaced" data-src="images/projects/vodafone-app-tit/vodafone-apptit-04.jpg" alt="Main products")

    img(class="img-fluid lazyload spaced" data-src="images/projects/vodafone-app-tit/vodafone-apptit-05.jpg" alt="Misc and icon set")