article.project-detail
    h1.txt-dm Webapp AB 
    h2.txt-j UI/UX and Visual design for reserved area of energy supplier.
    h5.txt-j Client: ABenergie

    img(class="img-fluid" src="images/projects/abenergie/app-ab-01.jpg" alt="Simplified dashboard")

    img(class="img-fluid lazyload spaced" data-src="images/projects/abenergie/app-ab-02.jpg" alt="Gas and Elettricity page")

    img(class="img-fluid lazyload spaced" data-src="images/projects/abenergie/app-ab-03.jpg" alt="Energy consumption page")

    img(class="img-fluid lazyload spaced" data-src="images/projects/abenergie/app-ab-04.jpg" alt="Some widgets")

    img(class="img-fluid lazyload spaced" data-src="images/projects/abenergie/app-ab-05.jpg" alt="Invoices page")
